.cities-component {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.cities-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    padding: 5px 10px;
}

.cities-list__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.cities-list__delete {
    background-color: #fff;
    border: none;
    transition: 0.3s;
}

.cities-list__button:hover {
    transform: rotate(20deg);
}

.cities-create {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cities__add {
    display: flex;
    gap: 10px;
}

.cities-add__input {
    padding: 2px 3px;
    color: #000;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #000;
}

.cities-add__button {
    padding: 2px 3px;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 13px;
}