.search-component {
    min-width: 250px;
    max-width: 550px;
    display: flex;
    gap: 15px;
    padding-bottom: 40px;
}

.search-component__input {
    height: 24px;
    outline: none;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid black;
}