.header {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
}

.header__link {
    color: #212121;
    font-size: 16px;
    border: none;
    transition: 0.5s;
    padding: 3px 5px;
    position: relative;
    font-weight: 500;
}

.header__link-img {
    height: 40px;
}

.header__link--button:hover {
    box-shadow: 1px 2px 2px #000;
    border-radius: 8px;

}