.error {
    width: 100vw;
    height: 100vh;
}

.error_block {
    display: flex;
    gap: 100px;
    flex-direction: column;
}

.error_title {
    font-size: 244px;
    text-shadow: 31px 5px rgba(146, 55, 206, 0.91);
}

.error_text {
    font-size: 56px;
    color: rgba(146, 55, 206, 0.91);
}

.error_link {
    font-size: 26px;
    color: rgba(146, 55, 206, 0.91);
    margin-right: 250px;
}

.error_link:hover {
    box-shadow: 2px 5px 15px rgba(146, 55, 206, 0.91);
}