.choose-speciality {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 100vw;
}

.choose-speciality__title {
    font-size: 22px;
    font-weight: 800;
    margin: 0;
}

.choose-speciality__empty {
    font-size: 18px;
    font-weight: 600;
}

.choose-speciality__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 100%;
}

.choose-speciality__item {
    border: 1px solid #000;
    display: flex;
    width: 20%;
    min-width: 250px;
    height: 200px;
    gap: 20px;
    flex-direction: column;
}

.choose-speciality__name {
    background-color: #562dd2;
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
    padding: 10px 0;
}

.choose-speciality__courses {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.choose-speciality__button {
    width: 80%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 0;
    cursor: pointer;
}

.choose-speciality__button:hover {
    background-color: #562dd2;
    color: white;
}